<div class="search-box">
  <div class="btn-group">
    <input #box (keyup.enter)="onSearch(box.value)" placeholder="Search..." class="search-field" />
    <i (click)="onSearch(box.value)" class="material-icons">search</i>
  </div>
  <div class="result-box" id="scroll">
    <h3 *ngIf="loadingSpinner" class="loading">LOADING...</h3>
    <div *ngFor="let hero of heroList | async">
      <div class="result-card" (click)="setHero(playerIndex, hero)">
        <img src="{{ hero.thumbnail.path }}.jpg" alt="{{ hero.name }}" />
        <p>{{ hero.name }}</p>
      </div>
    </div>
  </div>
</div>
