$cell-size: 120px;

.game-grid {
  margin: 1em;
  display: grid;
  grid-template-columns: $cell-size $cell-size $cell-size;
  grid-template-rows: $cell-size $cell-size $cell-size;
}

.cell-card {
  cursor: pointer;
  text-align: center;
  margin: 2px;
  border-radius: 8px;
  background: linear-gradient(#ffffff, #f5f5f5);
  box-shadow: 0px 2px 4px #0000001f;
  transition: all 200ms;

  &:hover {
    //transform: scale(1.1);
    box-shadow: 0px 0px 6px #ff000088;
  }
}
