/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  color: #333;
  background: linear-gradient(#0000000a, #00000023),
    repeating-linear-gradient(30deg, transparent 0, transparent 2em, #00000004 2em, #00000004 4em),
    repeating-linear-gradient(60deg, #00000005 0, #00000005 2em, #00000008 2em, #00000008 4em);
}
